

# **Predicting Airline Customer Satisfaction**
## Phase 1: Data Preparation & Visualisation
__________

<center>Names & IDs of group members:</center>

Names  | IDs
------------- | -------------
Matthew Bentham  | S3923076
John Murrowood  | S3923075



### Table of contents:
- [Introduction](#intro)
   - [Data source](#ds)
   - [Dataset detail](#dd)
   - [Dataset features](#df)
   - [Target Feature](#tf)
- [Goals & Objectives](#gao) 
- [Data Cleaning & Preprocessing](#dprep)
- [Data Exploration & Visualisation](#dvis)
- [Literature Review](#lr)
- [Summary & Conclusions](#sum)
- [References](#ref)


### INTRODUCTION <a name="intro"></a>

#### **Data source:** <a name="ds"></a>

The US airline passenger satisfaction survey dataset was sourced from kaggle, uploaded by John D 2018. This dataset contains survey results for whether a customer was satisfied with the flight or not as well as passenger and flight information. The dataset also contains information on what parts of the flight service they were satisfied with or not satisifed with.

URL: [US Airline Passenger Satisfaction](https://www.kaggle.com/datasets/johndddddd/customer-satisfaction)

#### **Dataset details:** <a name="dd"></a>

This dataset contains information on whether customers were satisfied or not during there domestic flight within the USA. There is personal details of each trveller including age, gender, type of travel (personal or buisness) as well as information of the flight including inflight duration, gate departure and if the flight is delayed. There is also a rating for which cutomers rated certain aspects of the flight such as inflight wifi, cleanliness, leg room and other things. These features are then used for a classification problem to predict the target feature of whether a customer will be satisfied or not.

The dataset has 24 features including the target feature and 129880 observations before any pre processing is done to the dataset.

##### **Dataset Retieval**
- As the data file is in the same github directory as this report 'satisfaction.xlsx' can be read directly 
- The first 10 rows are displayed

In [1]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd



df_name  = 'satisfaction.xlsx'
df = pd.read_excel(df_name)
df.head(10)

ValueError: Excel file format cannot be determined, you must specify an engine manually.

In [5]:
melb_df.head()

Empty DataFrame
Columns: [400: Invalid request]
Index: []



#### **Dataset features:** <a name="df"></a>

In [46]:
df.dtypes

id                                     int64
satisfaction_v2                       object
Gender                                object
Customer Type                         object
Age                                    int64
Type of Travel                        object
Class                                 object
Flight Distance                        int64
Seat comfort                           int64
Departure/Arrival time convenient      int64
Food and drink                         int64
Gate location                          int64
Inflight wifi service                  int64
Inflight entertainment                 int64
Online support                         int64
Ease of Online booking                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Cleanliness                            int64
Online boarding                        int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
dtype: object

In [47]:
df.describe()

,id,Age,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
count,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129487.000000
mean,64940.500000,39.427957,1981.409055,2.838597,2.990645,2.851994,2.990422,3.249130,3.383477,3.519703,3.472105,3.465075,3.485902,3.695673,3.340807,3.705759,3.352587,14.713713,15.091129
std,37493.270818,15.119360,1027.115606,1.392983,1.527224,1.443729,1.305970,1.318818,1.346059,1.306511,1.305560,1.270836,1.292226,1.156483,1.260582,1.151774,1.298715,38.071126,38.465650
min,1.000000,7.000000,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32470.750000,27.000000,1359.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,3.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,64940.500000,40.000000,1925.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,4.000000,0.000000,0.000000
75%,97410.250000,51.000000,2544.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,129880.000000,85.000000,6951.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000



Feature List:
- Age:The actual age of the passengers , Int , [7,85]

- Gender:Gender of the passengers (Female, Male)
- Type of Travel: Purpose of the flight of the passengers (Personal Travel, Business Travel)"
- Class:Travel class in the plane of the passengers (Business, Eco, Eco Plus)
- Customer Type:The customer type (Loyal customer, disloyal customer)
- Flight distance:The flight distance of this journey , Int, [50,6951]
- Flight cancelled:Whether the Flight cancelled or not (Yes, No)
- Departure Delay in Minutes:Minutes delayed when departure , Int , [0,1592]
- Arrival Delay in Minutes:Minutes delayed when Arrival, Int , [0,1584]
- Survery response features: Satisfaction level , Int , [0,5]
  -  Inflight wifi service (0:Not Applicable;1-5)"
  -  Inflight service
  -  Online boarding
  -  Ease of Online booking
  -  Inflight entertainment
  -  Food and drink
  -  Seat comfort
  -  On-board service
  -  Leg room service
  -  Departure/Arrival time
  -  Baggage handling
  -  Gate location
  -  Cleanliness
  -  Check-in service



#### **Target Feature:** <a name="tf"></a>

- 'satisfied' : 


The target feature for this project is the satisfaction level of the airline customers , meaning the supervised learning task contain a binary target that defines whether or not an airline customer is satsified (Satisfied , neutral/dissatisfied) based off the descriptive variables.



### Goals & Objectives: <a name="gao"></a>

The airline industry is extremely competetive with lots of various running costs and often very fine margins. Therefore these airline surveys are very important becauase they can help generate models that help to determine what the most important features of an airlines service are the most important to which kind of person. This allows an airline to priotise spending into specific sectors of thier buisness and ensures they offer the best service to the most people and which parts of there service they can save money and scale down while having a minimal impact on customer satisfaction.

*The Main objectives of this project are as follows:*
1. Identify the features that act as the best predictors for customer satisfaction in airlines 
2. Predict whether a customer is satisfied with thier airline experience based on basic customer features and survey response awnsers

<span style='font-family:"Times New Roman"'> 

### Data Cleaning & Preprocessing: <a name="dprep"></a>
<span styel=''>

#### Data Cleaning Steps: <a name = "prepsteps"></a>

In [48]:
df.columns

Index(['id', 'satisfaction_v2', 'Gender', 'Customer Type', 'Age',
       'Type of Travel', 'Class', 'Flight Distance', 'Seat comfort',
       'Departure/Arrival time convenient', 'Food and drink', 'Gate location',
       'Inflight wifi service', 'Inflight entertainment', 'Online support',
       'Ease of Online booking', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Cleanliness', 'Online boarding',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes'],
      dtype='object')

In [59]:
new_cols = ['id', 'Gender', 'Customer Type', 'Age',
       'Type of Travel', 'Class', 'Flight Distance', 'Seat comfort',
       'Departure/Arrival time convenient', 'Food and drink', 'Gate location',
       'Inflight wifi service', 'Inflight entertainment', 'Online support',
       'Ease of Online booking', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Cleanliness', 'Online boarding',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes','satisfaction_v2']
df=df.reindex(columns=new_cols)
df=df.rename(columns={'satisfaction_v2':"Satisfaction"})

In [60]:
airplane_df = df.drop(columns=["id"])

In [61]:
# scan for missing values: 
print(airplane_df.isnull().sum())

Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Seat comfort                           0
Departure/Arrival time convenient      0
Food and drink                         0
Gate location                          0
Inflight wifi service                  0
Inflight entertainment                 0
Online support                         0
Ease of Online booking                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Cleanliness                            0
Online boarding                        0
Departure Delay in Minutes             0
Arrival Delay in Minutes             393
Satisfaction                           0
dtype: int64

In [52]:
print(airplane_df['Arrival Delay in Minutes'].count())
print(393/airplane_df['Arrival Delay in Minutes'].count())
airplane_df = airplane_df.dropna()

129487
0.0030350537119556405

In [41]:
airplane_df = airplane_df.sample(n=5000, random_state=999)
airplane_df.shape
airplane_df.sample(5, random_state=999)

,Satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
115001,satisfied,Female,Loyal Customer,17,Business travel,Business,2136,1,1,1,...,5,5,3,3,5,5,4,5,37,30.0
50364,neutral or dissatisfied,Male,disloyal Customer,22,Business travel,Eco,1773,2,5,2,...,1,1,1,2,4,3,2,1,29,22.0
107866,satisfied,Female,Loyal Customer,56,Business travel,Business,3598,4,4,4,...,5,4,4,4,4,5,4,5,0,0.0
97719,satisfied,Female,Loyal Customer,56,Business travel,Business,2841,1,1,1,...,5,4,4,4,4,5,4,4,0,0.0
42885,neutral or dissatisfied,Female,disloyal Customer,35,Business travel,Eco,2836,1,1,1,...,4,3,2,3,3,4,1,4,147,132.0

<span style='font-family:"Times New Roman"'> 

### Data Exploration & Visualisation: <a name="dvis"></a>
<span styel=''>

<span style='font-family:"Times New Roman"'> 

### Literature Review: <a name="lr"></a>
<span styel=''>

<span style='font-family:"Times New Roman"'> 

### Summary & conclusion: <a name="sum"></a>
<span styel=''>

<span style='font-family:"Times New Roman"'> 

### References: <a name="ref"></a>
<span styel=''>